h1{
    color:rgb(199, 30, 44);
    text-align:center;
    transition:all 1s;
    font-size:.5 rem;
    font-family: Montserrat;
}
.big{
    transform:scale(1.5);

}
.small{
    transform:scale(1);
}
body{
    text-align:center;

}
ul{
    font-size: 30px;
    text-align:center;
    font-family: Montserrat;
}
}
button {font-size: 10px;
    background-color: white;
  color: rgb(14, 15, 14);
  border: 2px solid #f80303; /* Green */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.dark{
    background-color:black;
    color:rgb(110, 142, 209);
}
.dark a{
    color:white